

@media (min-width: map-get($grid-breakpoints, sm)) {
   .container {
      max-width: 95%;
      width: 95%;
   }
}


@media (min-width: 1200px) {

   .container {
      max-width: 1440px;
      width: 90%;
   }

}
