
//*******************************************************
// Colors
//*******************************************************

   $cta        : rgb(40, 53, 131);
   $cta-light  : rgb(64, 82, 194);

   $grey-light : rgb(242, 242, 242);
   $grey       : rgb(192, 192, 192);
   $grey-dark  : rgb(105, 105, 105);

   $black      : rgb(48, 48, 48);

   $warning        : rgb(228, 0, 58);
   $warning-light  : rgb(255, 85, 128);


//*******************************************************
// Space
//*******************************************************

   $space-typo : 1.2em;


//*******************************************************
//
//*******************************************************

   $grid-breakpoints: (
     xs: 0,
     sm: 576px,
     md: 768px,
     lg: 992px,
     xl: 1200px
   ) !default;
