
   //*******************************************************
   //mixins
   //*******************************************************

      @import '_variables.scss';

   //*******************************************************
   //normalize
   //*******************************************************

      @import '../../node_modules/normalize.css/normalize.css';

   //*******************************************************
   //Bootstrap Elements
   //*******************************************************

      @import '../../node_modules/bootstrap/scss/_mixins.scss';
      @import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
      @import '../../node_modules/bootstrap/scss/utilities/_position.scss';
      @import '../../node_modules/bootstrap/scss/utilities/_spacing.scss';
      @import '../../node_modules/bootstrap/scss/utilities/_sizing.scss';
      @import '../../node_modules/bootstrap/scss/utilities/_text.scss';
      @import '../../node_modules/bootstrap/scss/utilities/_display.scss';


   //*******************************************************
   //Base
   //*******************************************************

      // typo
         @import './base/_typo.scss';

      // header
         @import './base/_layout_header.scss';
         @import './base/_layout_navigations.scss';

      // content
         @import './base/_content_backgrounds.scss';
         @import './base/_content_cards.scss';

      //media
         @import './base/_media.scss';

      //buttons
         @import './base/_buttons.scss';

      // helpers
         @import './base/_helpers.scss';

      // forms
         @import './base/_forms.scss';

      // icons
         @import './base/_icons.scss';


   //*******************************************************
   // FONTS
   //*******************************************************

   // @font-face{
   //    font-family:"Mark W01 Heavy Italic";
   //    src:url("../fonts/5423348/8859a156-9ec6-40dd-8910-8e638eba7cb0.eot?#iefix");
   //    src:url("../fonts/5423348/8859a156-9ec6-40dd-8910-8e638eba7cb0.eot?#iefix") format("eot"),url("../fonts/5423348/75ef6178-6e7f-4510-a244-a0fb87d96b44.woff2") format("woff2"),url("../fonts/5423348/8ae34c87-072c-47a5-ba08-0e7fa47399a1.woff") format("woff"),url("../fonts/5423348/62614ba1-ed66-4e5d-8b0b-f54b8c68adf1.ttf") format("truetype");
   //    font-weight: normal;
   //    font-style: normal;
   // }
   // @font-face{
   //    font-family:"Mark W01 Heavy";
   //    src:url("../fonts/5423371/577af866-3716-496a-bba3-11179c5a8812.eot?#iefix");
   //    src:url("../fonts/5423371/577af866-3716-496a-bba3-11179c5a8812.eot?#iefix") format("eot"),url("../fonts/5423371/1ab8369b-873d-483f-a927-464e1d16e1d4.woff2") format("woff2"),url("../fonts/5423371/d55eb20c-e9fb-4911-91af-30bb4442c36c.woff") format("woff"),url("../fonts/5423371/dd938bb8-1c33-4dac-969a-c80bc853855b.ttf") format("truetype");
   //    font-weight: normal;
   //    font-style: normal;
   // }
   // @font-face{
   //    font-family:"Mark W01 Bold Italic";
   //    src:url("../fonts/5423392/b0ab161f-4dc8-412e-8b6d-89a98e04c3e1.eot?#iefix");
   //    src:url("../fonts/5423392/b0ab161f-4dc8-412e-8b6d-89a98e04c3e1.eot?#iefix") format("eot"),url("../fonts/5423392/6e8e8927-5a98-49ae-9123-db1798ec6d92.woff2") format("woff2"),url("../fonts/5423392/dbe0788d-533f-4e84-b346-1f68c19853f9.woff") format("woff"),url("../fonts/5423392/8aac5d38-8e50-4940-8cd1-ac406f070279.ttf") format("truetype");
   //    font-weight: normal;
   //    font-style: normal;
   // }
   // @font-face{
   //    font-family:"Mark W01 Bold";
   //    src:url("../fonts/5423411/8706c0b6-b423-44f7-ae1a-dd0aabd8a542.eot?#iefix");
   //    src:url("../fonts/5423411/8706c0b6-b423-44f7-ae1a-dd0aabd8a542.eot?#iefix") format("eot"),url("../fonts/5423411/41c8162d-c2a6-49b0-8139-8bebab187588.woff2") format("woff2"),url("../fonts/5423411/4fe94f2e-7892-4785-9663-0350a7adf8c0.woff") format("woff"),url("../fonts/5423411/3a7daddb-0a78-4734-a699-6fe08d0e8b99.ttf") format("truetype");
   //    font-weight: normal;
   //    font-style: normal;
   // }
   // @font-face{
   //    font-family:"Mark W01 Book Italic";
   //    src:url("../fonts/5423504/68c9367d-4ff1-483f-b954-0cc0dbae9c83.eot?#iefix");
   //    src:url("../fonts/5423504/68c9367d-4ff1-483f-b954-0cc0dbae9c83.eot?#iefix") format("eot"),url("../fonts/5423504/92d26a85-ea20-4552-bb3c-99a60834c026.woff2") format("woff2"),url("../fonts/5423504/d6d343a4-2018-4e17-9f75-93a29f4d6212.woff") format("woff"),url("../fonts/5423504/673df9f2-14a2-4dea-821d-9195dc4395fe.ttf") format("truetype");
   //    font-weight: normal;
   //    font-style: normal;
   // }
   // @font-face{
   //    font-family:"Mark W01 Book";
   //    src:url("../fonts/5423523/3805eba7-24c2-41ba-91d2-8fa5db02bc00.eot?#iefix");
   //    src:url("../fonts/5423523/3805eba7-24c2-41ba-91d2-8fa5db02bc00.eot?#iefix") format("eot"),url("../fonts/5423523/e6beefbb-4014-4efa-961b-7762af9aefef.woff2") format("woff2"),url("../fonts/5423523/5b4bd9d6-75be-4d76-8292-7f6434b9e997.woff") format("woff"),url("../fonts/5423523/d049afa3-baf5-4612-abf2-852763051b9c.ttf") format("truetype");
   //    font-weight: normal;
   //    font-style: normal;
   // }
